{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}App{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <div class="mainHeaderLinks">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'view' %}">Workouts</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="#">Support Us</a>
            {% if user.is_authenticated %}
            <div class="dropDown">
                <a href="#" id="authenticatedUser">
                    <button class="dropDownBtn">{{ user.username }}</button>
                </a>
                <div class="dropDownSections">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropDownBtn">Logout</button>
                        </form>
                    <button class="dropDownBtn">coming soon</button>
                </div>
            </div>
            {% else %}
            <a href="{% url 'login' %}">Sign In</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>